.result {
  color: #f6931f;
  font-weight: bold;
}

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  display: inline-block;
}

.checkbox.switch {
  display: inline-block;
  float: right;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map_canvas {
  height: 100%;
}

.page_wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: #EEEEEE;
  overflow: auto;
}

.content {
  height: 100%;
  padding-right: 0;
  position: fixed;
  right: 17px;
}

.sidebar {
  min-height: 100%;
  float: left;
  background: #F7F7F7;
}

.bordered_right {
  border-right: 1px solid #eee;
}

#map_canvas {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  background-color: #e5e3df;
}

.heading {
  margin-top: 0;
}

.heading h2 {
  display: block;
}

.inclination {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  background: #2d3445 url(../img/pie.png) no-repeat center;
  background-size: 100%;
  border: 6px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  position: relative;
}

.inclination:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.inclination .num_container {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #FFF;
  border-radius: 50%;
  z-index: 1;
}

.inclination .num_container:after {
  content: '';
  width: 50%;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #2D3445;
  border-radius: 50%;
  z-index: -1;
}

.inclination .num_container .num {
  font-weight: 700;
  font-size: 70px;
  height: 1em;
  line-height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 14px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.inclination .module_plain {
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 83%;
  background: #FF4848;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.ui_row {
  margin: 25px 0;
}

.input-group {
  margin-bottom: 25px;
}

.glyphicon {
  color: #F76054;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* columns of same height styles */

.row-same-height {
  display: table;
  width: 100%;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* firefox fix */

.img-responsive {
  width: 100%;
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

.logo {
  text-transform: uppercase;
  position: relative;
}

.logo span {
  font-weight: 700;
  color: #337ab7;
}

.logo small {
  font-size: 12px;
  text-transform: none;
  margin-left: 14px;
}

.logo .label {
  font-size: 10px;
  margin: 3px 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.sidebar_graph {
  height: 250px;
}

.ui-slider .ui-widget-header {
  background: #337ab7;
}

#centerPosition:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-primary:hover {
  background-color: #3072ab;
  border-color: #3072ab;
}

.additional {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 50%;
  margin-right: -131px;
  width: 262px;
  height: 50px;
  background: #EEE;
  border: 1px solid #ccc;
  box-shadow: 0 2px 0 #A0A0A0;
  border-radius: 5px;
  display: table;
}

.additional button {
  transition: background-color 0.3s, top 0.3s;
  background-color: #337ab7;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
  margin: 15px;
  width: 240px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 #285f8f;
}

.additional button:hover {
  transition: background-color 0.3s, top 0.3s;
  background: #3682c3;
  box-shadow: 0 2px 0 #3072ab;
  top: 1px;
  position: relative;
}

.additional button:active {
  background: #337ab7;
  transition: background-color 0.3s;
}

.additional button:focus {
  border: none;
  outline: none;
}

.crosshair {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 45px;
  height: 45px;
  margin: auto;
  pointer-events: none;
}

.crosshair:after {
  content: '';
  display: block;
  width: 11.25px;
  height: 2px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #FFF;
}

.crosshair:before {
  content: '';
  display: block;
  width: 2px;
  height: 11.25px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: #FFF;
}

.crosshair .cross_x,
.crosshair .cross_y {
  background-color: #337ab7;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.crosshair .cross_x {
  width: 100%;
  height: 2px;
}

.crosshair .cross_y {
  height: 100%;
  width: 2px;
}

.three_d_scene {
  width: 89px;
  height: 160px;
  position: absolute;
  right: 100px;
  bottom: 50px;
  z-index: 3;
  -webkit-perspective: 200px;
  perspective: 200px;
}

.pv_cell {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.pv_cell #front {
  -webkit-transform: translateZ(5px);
  transform: translateZ(5px);
}

.pv_cell .side {
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateY(90deg) translateX(-3px);
  transform: rotateY(90deg) translateX(-3px);
  background: #A3A3A3;
  width: 6px;
  height: 100%;
  position: absolute;
}

.pv_cell .side.right {
  right: -3px;
}

.pv_cell .side.left {
  left: -3px;
}

.pv_cell .bottom {
  width: 89px;
  height: 6px;
  background-color: #333;
  position: absolute;
  bottom: -3px;
  left: 0px;
  -webkit-transform: rotateX(-90deg) translateY(-3px);
  transform: rotateX(-90deg) translateY(-3px);
}

.pv_cell img {
  height: 100%;
  display: block;
  position: absolute;
}

.crosshair_coords {
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 1px 2px #2D3138;
  bottom: 25px;
  right: 20px;
  display: inline-block;
  z-index: 1;
}

/*Very small devices - mobile*/

@media (max-width: 767px) {
  .inclination .num_container {
    width: 150px;
    height: 120px;
  }
}

/*Smartphones - iPhone etc.. rotated ipad (portrait)*/

@media (min-width: 768px) and (max-width: 991px) {
  .inclination .num_container {
    width: 50%;
    height: 50%;
  }

  .inclination .num_container .num {
    font-size: 30px;
  }
}

/*Tablets like iPad etc..*/

@media (min-width: 992px) and (max-width: 1199px) {
  .inclination .num_container {
    width: 60%;
    height: 60%;
  }

  .inclination .num_container .num {
    font-size: 50px;
    height: 1em;
    padding-left: 5px;
  }
}

/*Large screens 19' + */